@font-face {
  font-family: 'Pontano Sans', sans-serif;
  color: white;
}

.name{
  color: #ffffff;
  padding-left: 2%;
  font-family: 'Pontano Sans', sans-serif;
  margin-bottom: 1%;
  font-size: 180%;
}

.price{
  color: #d42740;
  font-size: 250%;
  padding-left: 2%;
  font-family: 'Ruda', sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
}

.description{
  color: #d3ccc2;
  padding-left: 2%;
  font-family: 'Pontano Sans', sans-serif;
}

button{
  color: #d3ccc2;
  background-color: #d42740;
  padding: 2%;
  margin-bottom: 0%;
  width: 100%;
}

