@import 'normalize.css';

body{
    background-color: #1e1e24;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.header {
    padding: 3%;
    text-align: center;
    background: url(/images/sgbk.jpg);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 250%;
  }

.hotels-list{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto 1fr;
    grid-auto-columns: 1fr;
    gap: 20px;
}

.hotel{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    border: 1px solid white;
    background-size: contain;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.center:hover{
    animation: shake 0.5s;
}

button{
        background-color: #d42740;
        border: none;
        color: white;
        text-align: center;
        font-size: 150%;
        opacity: 0.6;
        transition: 0.3s;
        padding-bottom: 0px;
}
button:hover{
    opacity: 1;
}

@media screen and (max-width: 800px){
    body {
        flex-direction: column;
    }
    aside{
        order: -1;
    }
}